.navbar-light{
  background-color:#22223B;;
  
}

.navbar-brand{
  color:  #D8A016  !important;
}

.nav-link {
  color: white !important;
}

.AboutMe{
  background-color: #2E86AB;
  height: 909px;
  /* padding: 0 !important; */
  /* border-bottom: white 15px solid; */
}

.aboutText{
  /* border: 2px solid green; */
}

.avatar{
  /* border: 2px solid purple; */
  display: flex;
  align-items: center;
  justify-content: right;
}

.aboutText{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
}

.Skills{
  background-color: #F2E9E4;
  /* 6F1D1B */
  height: 909px;
}

.Projects{
  background-color: white;
  height: 909px;
}

#self-img{
  width: 50%;
}

.boxOne{
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  color: rgb(134, 134, 134);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: None;
}

.skillsCard{
  width: 10rem;
  height: 7rem;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row1{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row2{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row3{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

span{
  /* border: 3px red solid; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}