html {
  scroll-behavior: smooth;
}

.navbar-light{
  background-color:#22223B;;
  
}

.navbar-brand{
  color:  #D8A016  !important;
  width: 100px;
  height: 45px;
}

.logo{
  width: 100px;
  height: 45px;
}


.navbar .navbar-toggler{
  color: white;
  border-color: white; 
}

.nav-link {
  color: white !important;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 1px;
}


.AboutMe{
  background-color: #fff;
  /* height: 909px; */
  height: 60vw;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 5rem;
  /* padding: 0 !important; */
  /* border-bottom: white 15px solid; */
}

.aboutText{
  /* border: 2px solid green; */
}

.avatar{
  /* border: 2px solid purple; */
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.aboutText{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
}

.scroll-down{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.fa-arrow-alt-circle-down{
  font-size: 60px;
  color: #1982FC;
}

.arrow{
  display: flex;
  justify-content: center;
}

.Skills{
  background-color: #F6F6F6;
  /* 6F1D1B */
  /* F2E9E4 */
  /* height: 909px; */
  height: 60vw;
  width: 100%;
  /* border: 2px purple solid; */
}

.Skills h3{
  padding-left: 3rem;
  font-family: 'Roboto Slab', serif;
  color: black !important;
}

.container-fluid{
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* border: 5px lime solid; */

}


.Projects{
  background-color: #fff;
  /* 1982FC */
  /* #F2E9E4 */
  height: 90vw;
  width: 100%;
  /* border: 3px pink solid; */
}

/* .Projects h3{
  display: flex;
  justify-content: center;
} */


#hang{
  fill: green;
}

#self-img{
  width: 65%;
  /* background-color: lightgray !important; */
}

.boxOne{
  border-right: 2px solid white;
  /* margin: 20px;
  padding: 10px; */
  color: rgb(134, 134, 134);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.boxOne h3{
  color: white;
}

.boxTwo{
  /* margin: 20px;
  padding: 10px; */
  color: rgb(134, 134, 134);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.boxTwo h3{
  color: white;
}

.row{
  width: 100%;
  margin: 0;
}


.skillsCard{
  width: 10rem;
  height: 7rem;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row1{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row2{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row3{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

span{
  /* border: 3px red solid; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.box{
  background-color: white;
  margin: 20px;
  border: 3px white  double;
  color: white;
  border-radius: 5%;
  height: 35%;
}

.Projects h1{
  display: flex;;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

.project-boxes{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.FadeIn {
  -webkit-animation: slideIn 0.8s ease 0.3s forwards;
  animation: slideIn 3s ease 0.3s forwards;
}

@keyframes slideIn {
  0% {
      -webkit-transform: translateY(40px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateY(0px);
      opacity: 1;
  }
}



.fa-github{
  font-size: 1.75rem;
}

.fa-external-link-alt{
  font-size: 1.5rem;
}

.box .fa-external-link-alt{
  position:absolute;
  top:0;
  right:0;
  padding-top: .5rem;
  padding-right: 1rem;
  color: white;
  text-shadow: 1px 1px blue;

}

.box .fa-github{
  position:absolute;
  bottom:0;
  right:0;
  padding-bottom: .5rem;
  padding-right: 1rem;
  color: white;
  text-shadow: 1px 1px blue;
}

.habit-card{
  background-color: #5e878c;;
}

.park-card{
  background-color: #01a3a4;
}

.hangman-card{
  background-color: #374151;
}

.game-card{
  background-color: #f73635;
}

.book-card{
  background-color: #5177bc
}

.roommate-card{
  background-color: grey;
}


.card-title{
  text-align: center;
}

.speech-bubble {
	position: relative;
	background: #1982FC;
	border-radius: .4em;
  color: white;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.625em solid transparent;
	border-right-color: #1982FC;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.812em;
	margin-left: -1.625em;
}

.ContactMeForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  /* border: 2px red solid; */
  width: 100%;
  height: 100vh;
}

.ContactMeForm h1{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  width: 100%;
  padding-bottom: 5rem;
}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vw;
  width: 100vw;  
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

.contact-form textarea {
  min-height: 10rem;
  min-width: 30rem;
  margin-bottom: 10px;
}

.contact-form input{
  min-width: 30rem;
  margin-bottom: 10px;
}

.contact-form ::placeholder { /* Firefox, Chrome, Opera */ 
  color: black; 
}


.contact-form input:focus::placeholder { /* Firefox, Chrome, Opera */ 
  color: black; 
} 

.contact-form textarea:focus::placeholder { /* Firefox, Chrome, Opera */ 
  color: black; 
} 


form .submit{
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  min-height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: #f44336;
  cursor: pointer;
}

footer{
  display: flex;
  justify-content: center;
}


.top-row{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.top-row a{
  padding: 0 1rem;
}

.bottom-row{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bottom-row p{
  padding: 0 .5rem;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.resume-container{
  height: 100vh;        /* Viewport-relative units */
  width: 100vw;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


.card-description{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media (max-width: 768px) {
  .AboutMe{
    height: 100%;
    width: 100vw;  

  }

  .Skills{
    height: 100%;
    width: 100vw;
  }

  .Projects{
    height: 100%;
    width: 100vw;
  }

  .contact-form{
    height: 100%;
    width: 100vw;
  }

  .contact-form textarea {
    min-height: 5rem;
    min-width: 5vw;
    margin-bottom: 10px;
  }

  .contact-form input {
    min-width: 20rem;
    margin-bottom: 10px;
  }

  .avatar{
    /* border: 2px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .speech-bubble {
    position: relative;
    background: #1982fc;
    border-radius: .4em;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #1982fc;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px;
  }
}